<%provide(:title, "About Us")%>
<h1>About Us</h1>
<p>The <a href=http://www.railstutorial.com/help>Rails Tutorial</a> is a project to create a tutorial and a book to teach web development using Ruby on Rails </p>
